body {
  padding:1.5em;
}

table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: left;
}
  
thead {
  font-weight: bold;
  color: #fff;
  background: #6c63ff;
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
 td {
  max-width:100px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
  text-overflow: ellipsis;
}

#board-container{
  width:100%;
  display: flex;
  flex-direction: column;
}
 
#board-title{
  margin :20px auto;
}

#write-button{
  align-self: flex-end;
  width:100px;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.board-item {
 cursor: pointer;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logout-button{
  background: none;
  border:none;
  cursor: pointer;
}