body {
  padding: 1.5em;
}

#second-header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

#search-container {
  
}

#search-input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
}

#search-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #5a52d1;
}

table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: left;
}

thead {
  font-weight: bold;
  color: #fff;
  background: #6c63ff;
}

td, th {
  padding: 1em .5em;
  vertical-align: middle;
}

td {
  max-width: 100px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
  text-overflow: ellipsis;
}

#board-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#board-title {
  margin: 20px auto;
}

#write-button {
  width: 100px;
  justify-self:baseline;
  padding: 10px 20px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.board-item {
  cursor: pointer;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logout-button {
  background: none;
  border: none;
  cursor: pointer;
}
