body {
    margin: 0 ;
    padding: 0;
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  .signWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400px;
    padding:100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  
  .signForm {
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 40px;
    align-items: center;
  }
  
  .signInput {
    width:100%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .signInput:focus {
    outline: none;
    border-color: #6c63ff;
  }

  .signInput.error {
    border: 1px solid red !important;
  }
  
  #button-container{
    position:relative;
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .signButton {
    padding: 0;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    cursor: pointer;

    color: white;
    font-size: 20px;
    border: 1px solid #fff;
    background-color: #6c63ff;
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .signButton:hover {
    background-color: #5a50e5;
  }
  

  a {
    margin-top: 20px;
    color: #6c63ff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #5a50e5;
  }