/* 전체적인 스타일 설정 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
}

/* 메인 컨테이너 스타일 */
.chat-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
#title-container h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 2px solid #6c63ff;
}

/* 상품명 스타일 */
#productName-container h2 {
  font-size: 22px;
  color: #666;
  margin-bottom: 20px;
  border-bottom: 2px solid #6c63ff;
}

/* 버튼 스타일 */
.pt_button {
  align-self: flex-end;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.post_button:hover {
  background-color: #5a50e5;
}

/* 아바타 스타일 */
.avatar {
  font-size: 24px;
  margin-right: 10px;
}

/* 메시지 콘텐츠 스타일 */
.message-content {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  height: 500px;
  white-space: pre-line;
}

.comment-content {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  height: 100px;
  
}

/* 메시지 옵션 스타일 */
.message-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.message-options button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #ff6b6b;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.message-options button:hover {
  background-color: #e55b5b;
}

/* 분리선 스타일 */

hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.postComment_separate {
  border: none;
  height: 2px;
}

/* 유저 입력 컨테이너 스타일 */
.user-input-container {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

/* 유저 입력 스타일 */
.user-input {
  display: flex;
  align-items: center;
}

.user-input textarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 100px;
  margin-right: 10px;
}

.user-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-input button:hover {
  background-color: #5a50e5;
}

.text_input {
  resize: none;
}

/* 유저 정보 컨테이너 스타일 */
.person_info_container {
  display: flex;
  height: 40px;
  align-items: center;
  margin-bottom: 10px;
}

/* 댓글 섹션 스타일 */
.comment {
  padding-top: 20px;
}
