body {
  font-family: Arial, sans-serif;
}

.header_container {
  text-align: center; 
  font-size: 24px; 
  font-weight: bold;
  color: #333; 
  margin-bottom: 20px;
}

.page_title {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
}

.content_container {
  width: 700px;
  height: 700px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap:10px;
}

label {
  width: 100px;
  margin-right: 10px; 
  font-weight: bold;
}

input[type="text"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

textarea {
  height: 150px;
}

button {
  background-color: #6c63ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  align-self: flex-end;
}

button:hover {
  background-color: #5a50e5;
}

.content_input {
  resize: none;
}

#post-title{
  margin-bottom: 100px;
}